body {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 125px 7fr 60px;
    margin: 0%;
}

ul {
    list-style-type: none;
}

#sidebar{
    padding: 4%;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
    
    background: rgba(73,165,191,1);
    background: -moz-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 52%, rgba(147,206,222,1) 99%, rgba(147,206,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,165,191,1)), color-stop(52%, rgba(117,189,209,1)), color-stop(99%, rgba(147,206,222,1)), color-stop(100%, rgba(147,206,222,1)));
    background: -webkit-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 52%, rgba(147,206,222,1) 99%, rgba(147,206,222,1) 100%);
    background: -o-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 52%, rgba(147,206,222,1) 99%, rgba(147,206,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 52%, rgba(147,206,222,1) 99%, rgba(147,206,222,1) 100%);
    background: linear-gradient(to bottom, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 52%, rgba(147,206,222,1) 99%, rgba(147,206,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#93cede', GradientType=0 );

    background-size: cover;
    background-position: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}

#navbar {
    background-color: #51517A;
    border-bottom-style: solid;
    border-width: 10px;
    border-bottom-color: steelblue;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#footer {
    font-family: "Impact";
    font-size: 1.25em;
    text-align: center;
    background: lightblue;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.homeContent {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background: url("/images/contentBG/waterfall.gif") no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 120px #000000;
}

.quizContent {
    z-index: 1;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background: linear-gradient(to top, black 0%,#7C7CFF 100%), url("/images/contentBG/contentBG.png") no-repeat;
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 120px #000000;
}

// .tint {
//     background-color: white;
// }

#logBtn {
    float: right;
    margin-right: 2%;
}

#logo {
    float: left;
}

#searchBar {
    align-content: center;
}

#homeTitle {
    font-family: "Impact";
    font-size: large;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#homeScrnDestBtn {
    text-align: center;
    font-family: "Impact";
    padding: 10%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    border: solid;
    border-width: thick;
    border-radius: 10px 50px 10px;
    background: url("/images/buttons/savedDestBG.png"); 
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 0 120px #000000;
    opacity: .9;
}

#homeScrnQuizBtn {
    text-align: center;
    font-family: "Impact";
    padding: 10%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    border: solid;
    border-width: thick;
    border-radius: 10px 50px 10px;
    background: url("/images/buttons/takeQuizBG.png"); 
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 0 120px #000000;
    opacity: .9;
}

.or {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: "Impact";
    color: white;
    text-shadow: 5px 5px #3E3E3E;
}

#quizSubBtn {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 5;
}

.coldHot {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#cold{
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background-image: url("/images/quiz/cold.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#hot{
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/hot.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.nearFar {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#near{
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/near.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#far{
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/far.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.modernHist {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#modern {
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/modern.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#historic {
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/historic.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.urbanRural  {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#urban{
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/urban.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#rural{
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/rural.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.dangerousSafe {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#dangerous {
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/dangerous.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#safe {
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/safe.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000;
    font-family: "Impact";
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.resultCardImg {
    background-size: cover;
    background-position: center;
    height: 20em;
    width: 40em;
}