body {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 125px 7fr 60px;
    margin: 0%;
}

ul {
    list-style-type: none;
}

#sidebar{
    padding: 4%;
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: #CDC19B;
    text-shadow: 2px 2px #797258;
    background-color: #2A2F32;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-width: 2px;
    border-right-style: solid;
    border-right-color: #CDC19B;

}

#sidebar a{
    color: inherit;
}

#navbar {
    background-color: #2A2F32;
    border-bottom-style: solid;
    border-width: 2px;
    border-bottom-color: #CDC19B;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

#footer {
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border-width: 2px;
    border-top-style: solid;
    border-top-color: #CDC19B;
    color: #CDC19B;
    text-shadow: 2px 2px #988F72;
    background-color: #2A2F32;
    
}

#logCont {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, .5fr);
    background: url("/images/buttons/logIn.jpg");
    background-size: cover;
    background-position: center;
    color: #CDC19B;
    text-shadow: 2px 2px #797258;
}

.logRow1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.logRow2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.homeContent {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, .5fr);
    background: url("/images/contentBG/waterfall.gif") no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 120px #000000;
}

.quizContent {
    height: 600px;
    z-index: 1;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background: url("/images/buttons/navbar2.jpg") no-repeat;
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 120px #000000;
}

.resultCardCont {
    height: 500px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row-gap: 20%;
    overflow: scroll;
    display: grid;
    background: pink;
    box-shadow: inset 0 0 120px #000000;
}

.resultCard {
    margin-top: 10%;
    margin-bottom: 6%;
}

.resultCardCont::-webkit-scrollbar{
    width: 20px; 
    background: transparent;
    border-radius: 10px;
}

.resultCardCont::-webkit-scrollbar-thumb{
    background: #CDC19B;
    border-radius: 10px;
}

html::-webkit-scrollbar{
    display: none;
}




    // .tint {
//     background-color: white;
// }

#logBtn {
    float: right;
    margin-right: 2%;
}

#logo {
    float: left;
    opacity: .75;
}

#brand-img {
    height: 100px;
    width: 100px; 
}

#searchBar {
    align-content: center;

}

#homeTitle {
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    font-size: large;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

#homeScrnDestBtn {
    text-align: center;
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    padding: 10%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    border: outset;
    border-width: thick;
    border-radius: 10px 50px 10px;
    background: url("/images/buttons/savedDestBG.png"); 
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 0 120px #000000;
    opacity: .9;
}

#homeScrnQuizBtn {
    text-align: center;
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    padding: 10%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    border: outset;
    border-width: thick;
    border-radius: 10px 50px 10px;
    background: url("/images/buttons/takeQuizBG.png"); 
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 0 120px #000000;
    opacity: .9;
}

.or {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 5px 5px #3E3E3E;
}

.firRad {
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.secRad {
    align-self: center;
    justify-self: center;
    grid-column-start: 4;
    grid-column-end: 5;
}

#quizSubBtn {
    grid-row-start: 11;
    grid-row-end: 12;
    grid-column-start: 3;
    grid-column-end: 5;
}

.coldHot {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

#cold{
    grid-column-start: 1;
    grid-column-end: 2;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background-image: url("/images/quiz/cold.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
    
}

#hot{
    grid-column-start: 5;
    grid-column-end: 6;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/hot.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.nearFar {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

#near{
    grid-column-start: 1;
    grid-column-end: 2;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/near.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#far{
    grid-column-start: 5;
    grid-column-end: 6;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/far.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.modernHist {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

#modern {
    grid-column-start: 1;
    grid-column-end: 2;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/modern.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#historic {
    grid-column-start: 5;
    grid-column-end: 6;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/historic.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.urbanRural  {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

#urban{
    grid-column-start: 1;
    grid-column-end: 2;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/urban.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#rural{
    grid-column-start: 5;
    grid-column-end: 6;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/rural.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.dangerousSafe {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

#dangerous {
    grid-column-start: 1;
    grid-column-end: 2;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/dangerous.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

#safe {
    grid-column-start: 5;
    grid-column-end: 6;
    border: outset;
    border-width: thick;
    border-radius: 10px;
    background: url("/images/quiz/safe.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px #000000, 10px 10px 35px -1px rgb(186, 186, 186);
    font-family: "Gill Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;;
    color: white;
    text-shadow: 2px 2px #3E3E3E;
}

.resultCardImg {
    float: right;
    background: no-repeat;
    background-size: 500px 300px, cover;
    background-position: center;
    height: 20em;
    width: 40em;
}

.hide {
    display: none;
}