
<div class="homeContent">
    <div id="homeTitle">
        <h1>Welcome to Planet Life</h1>
    </div>

    <a id="homeScrnDestBtn" href="http://localhost:8081/#!/savedDest"></a>

    <a id="homeScrnQuizBtn" href="http://localhost:8081/#!/quiz"></a>
</div>

<!-- <div class="test" ng-repeat="dest in destinations | filter:{name:searchText}">

    <div>Picture Will go here</div>

    <h2>{{dest.name}}</h2>
    <h4>{{dest.country}}</h4>
    <h3>edible: {{dest.country}}</h3>
    <p>description: {{dest.description}}</p>

</div> -->


