<div class="quizContent tint">

    <div class="coldHot"> 
        <div id="cold"><p>Cold</p></div>
        <input class="firRad" type="radio" ng-model="quiz.corh" value="true">
        <h2 class="or"> -or- </h2>
        <input class="secRad" type="radio" ng-model="quiz.corh" value="false">
        <div id="hot"><p>Hot</p></div>
    </div>

    <div class="nearFar"> 
        <div id="near"><p>Near</p></div>
        <input class="firRad" type="radio" ng-model="quiz.norf" value="true">
        <h2 class="or"> -or- </h2>
        <input class="secRad" type="radio" ng-model="quiz.norf" value="false">
        <div id="far"><p>Far</p></div>
    </div>

    <div class="modernHist"> 
        <div id="modern"><p>Modern</p></div>
        <input class="firRad" type="radio" ng-model="quiz.morh" value="true">
        <h2 class="or"> -or- </h2>
        <input class="secRad" type="radio" ng-model="quiz.morh" value="false">
        <div id="historic"><p>Historic</p></div>
    </div>
    
    <div class="urbanRural"> 
        <div id="urban"><p>Urban</p></div>
        <input class="firRad" type="radio" ng-model="quiz.uorr" value="true">
        <h2 class="or"> -or- </h2>
        <input class="secRad" type="radio" ng-model="quiz.uorr" value="false">
        <div id="rural"><p>Rural</p></div>
    </div>

    <div class="dangerousSafe"> 
        <div id="dangerous"><p>Dangerous</p></div>
        <input class="firRad" type="radio" ng-model="quiz.dors" value="true">
        <h2 class="or"> -or- </h2>
        <input class="secRad" type="radio" ng-model="quiz.dors" value="false">
        <div id="safe"><p>Safe</p></div>
    </div>


    <div id="quizSubBtn">
        <a href="/#!/results"><button>Submit</button></a>
    </div>
    
</div>