<div class="quizContent tint">

    <div class="coldHot"> 
        <div id="cold" ng-model="corh" value="true"><p>Cold</p></div>

        <h2 class="or"> -or- </h2>

        <div id="hot" ng-model="corh" value="true"><p>Hot</p></div>
    </div>

    <div class="nearFar"> 
        <div id="near" ng-model="norf" value="true"><p>Near</p></div>

        <h2 class="or"> -or- </h2>

        <div id="far" ng-model="norf" value="false"><p>Far</p></div>
    </div>

    <div class="modernHist"> 
        <div id="modern" ng-model="morh" value="true"><p>Modern</p></div>

        <h2 class="or"> -or- </h2>

        <div id="historic" ng-model="morh" value="false"><p>Historic</p></div>
    </div>
    
    <div class="urbanRural"> 
        <div id="urban" ng-model="uorr" value="true"><p>Urban</p></div>

        <h2 class="or"> -or- </h2>

        <div id="rural" ng-model="uorr" value="false"><p>Rural</p></div>
    </div>

    <div class="dangerousSafe"> 
        <div id="dangerous" ng-model="dors" value="true"><p>Dangerous</p></div>

        <h2 class="or"> -or- </h2>

        <div id="safe" ng-model="norf" value="false"><p>Safe</p></div>
    </div>

    <div id="quizSubBtn">
        <a href="http://localhost:8081/#!/results"><button>Submit</button></a>
    </div>
    
</div>